h2 { 
     color: #BABABA !important;
}
h3, h4 { 
     color: #c0c0c0 !important;
}

.hideTOC .md-nav {
     display: none;
 }

.md-tabs {
     background-color: #FC5956 !important;
}

.md-header {
     box-shadow: 0px 0px 15px -8px #000000;
}

body {
     background-color: #222222 !important;
}

.highlighttable .linenos {
     background-color: #111111 !important;
}

.md-typeset code {
     background-color: #111111 !important;
}

.md-footer {
     background-color: #111111;
     
}

.md-footer-meta {
     background-color: #000000;
}

/* width */
::-webkit-scrollbar {
     width: 5px;
     background-color: transparent;
}
   
/*Track */
::-webkit-scrollbar-track {
     background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
     background: #5b5c67;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
     background: #ff1947;
}

.admonition.note {
     border-color: #e73dd0 !important;
     font-size: 16px;
}

.admonition.note .admonition-title {
     background-color: #e73dd023 !important;
}

.admonition.note .admonition-title::before {
     background-color: #e73dd0 !important;
}

.admonition.tip {
     border-color: #e7ce3d !important;
     font-size: 16px;
}

.admonition.tip .admonition-title {
     background-color: #e7ce3d23 !important;
}

.admonition.tip .admonition-title::before {
     background-color: #e7ce3d !important;
}

.admonition.question {
     border-color: #e73d8c !important;
     font-size: 16px;
}

.admonition.question .admonition-title {
     background-color: #e73d8c23 !important;
}

.admonition.question .admonition-title::before {
     background-color: #e73d8c !important;
}

tr td, table {
     border-width: 0 !important;
}

tr th {
     background-color:#ef5552 !important;
     color: #000000;
}

tr:nth-child(even) {
     background-color: #2b2b2b !important;
}

tr:nth-child(odd) {
     background-color: #1E2021 !important;
}

tr:hover {
     background-color: #63696E !important;
}


table {
     box-shadow: 3px 3px 5px 0px #111111;
}

/* formatting for damage calculation table under topic 3.3. */
#cs1 + div table { 
     border-collapse: collapse !important;
     overflow-x: hidden !important;
     border-spacing: 0 !important;
 }
 #cs1 + div table tr:nth-child(2),
 #cs1 + div table tr:nth-child(3),
 #cs1 + div table tr:nth-child(4) {
     border: 2px #ef5552 solid !important;
     background-clip: padding-box !important;
 }

/* formatting for damage calculation table under topic 3.4. */
#cs2 + div table { 
     border-collapse: collapse !important;
     overflow-x: hidden !important;
     border-spacing: 0 !important;
 }
#cs2 + div table tr:nth-child(3) {
     border: 2px #ef5552 solid !important;
     background-clip: padding-box !important;
}

.arithmatex {
     font-size: 1em;
}